<form class="form-container">
  <div class="input-box">
    <mat-form-field class="form-field-container">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field class="form-field-container">
      <mat-label>Toppings</mat-label>
      <mat-select>
        @for (topping of toppingList; track topping) {
        <mat-option [value]="topping">{{ topping }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field class="form-field-container">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
  </div>
  <div class="input-box">
    <mat-form-field class="form-field-container">
      <mat-label>Toppings</mat-label>
      <mat-select>
        @for (topping of toppingList; track topping) {
        <mat-option [value]="topping">{{ topping }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</form>
