<mat-sidenav-container class="root-container">
  <mat-sidenav #sidenav mode="over">
    <app-nav-list (closeSideNav)="sidenav.close()"></app-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (toggle)="sidenav.toggle()"></app-header>
    <div class="page-content">
      <router-outlet />
    </div>  
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div class="main">
  
  <div class="content">
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
      </ul>
    </nav>

  </div>
</div> -->
