
<mat-form-field class="example-full-width">
    <mat-label>Search Song</mat-label>
    <input type="text" matInput  (change)="listSongs($event)"
           placeholder="Search Song">
  </mat-form-field>
  <div class="songs-container">
    @for (item of playList; track $index) {
        <div class="song-item">
            <img src="{{item.album.cover_medium}}" alt="">
            <div class="title">{{item.title}}</div>
        </div>
        
    }
  </div>
  <button (click)="loadMore()">Load More</button>
